<section class="flex justify-center items-center h-screen">
    <div class="flex flex-col items-center justify-center">
        <p class="text-6xl">¿QUIERES AGENDAR</p>
        <p class="text-8xl font-bold font-unbounded">UNA CITA?</p>
        <div class="flex gap-4 mt-4">
            <button class="bg-primary-blue text-white px-6 py-2 font-semibold font-unbounded">AGENDAR</button>
            <button class="bg-primary-blue text-white px-6 py-2 font-semibold font-unbounded">CONTACTAR</button>
        </div>
    </div>
</section>