@import "tailwindcss";
@import "tw-animate-css";

@source '../../node_modules/@nextui-org/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../../packages/ui/src/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --radius: 0.5rem;
  --background: oklch(15% 0.04 240);
  --foreground: oklch(75% 0.1 230);
  --card: oklch(20% 0.06 250);
  --card-foreground: oklch(75% 0.1 230);
  --popover: oklch(20% 0.06 250);
  --popover-foreground: oklch(75% 0.1 230);
  --primary: oklch(78.9% 0.154 211.53);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(45% 0.12 230);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(45% 0.12 230);
  --muted-foreground: oklch(75% 0.1 230);
  --accent: oklch(45% 0.12 230);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(65% 0.2 25);
  --border: oklch(75% 0.1 230);
  --input: oklch(75% 0.1 230);
  --ring: oklch(65% 0.18 230);
  --chart-1: oklch(85% 0.18 90);
  --chart-2: oklch(75% 0.2 160);
  --chart-3: oklch(60% 0.17 230);
  --chart-4: oklch(65% 0.24 25);
  --chart-5: oklch(60% 0.25 290);
  --sidebar: oklch(20% 0.06 250);
  --sidebar-foreground: oklch(75% 0.1 230);
  --sidebar-primary: oklch(65% 0.18 230);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(45% 0.12 230);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(75% 0.1 230);
  --sidebar-ring: oklch(65% 0.18 230);
}

.dark {
  --background: oklch(15% 0.04 240);
  --foreground: oklch(75% 0.1 230);
  --card: oklch(20% 0.06 250);
  --card-foreground: oklch(75% 0.1 230);
  --popover: oklch(20% 0.06 250);
  --popover-foreground: oklch(75% 0.1 230);
  --primary: oklch(78.9% 0.154 211.53);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(45% 0.12 230);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(45% 0.12 230);
  --muted-foreground: oklch(75% 0.1 230);
  --accent: oklch(45% 0.12 230);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(65% 0.2 25);
  --border: oklch(75% 0.1 230 / 0.1);
  --input: oklch(75% 0.1 230 / 0.15);
  --ring: oklch(65% 0.18 230);
  --chart-1: oklch(85% 0.18 90);
  --chart-2: oklch(75% 0.2 160);
  --chart-3: oklch(60% 0.17 230);
  --chart-4: oklch(65% 0.24 25);
  --chart-5: oklch(60% 0.25 290);
  --sidebar: oklch(20% 0.06 250);
  --sidebar-foreground: oklch(75% 0.1 230);
  --sidebar-primary: oklch(65% 0.18 230);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(45% 0.12 230);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(75% 0.1 230 / 0.1);
  --sidebar-ring: oklch(65% 0.18 230);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0px;
}