<div class="flex items-end h-screen p-8">
	<div class="fade-in space-y-4">
		<h1 class="font-unbounded font-semibold">Las Cámaras del Dragón</h1>
		<h2 class="font-unbounded font-semibold text-6xl max-w-1/2 text-primary-blue">
			CONOCE A NUESTRO GRAN EQUIPO DE TRABAJO
		</h2>
		<div class="flex flex-col gap-2 lg:flex-row lg:gap-18 max-w-1/2">
			<p class="text-primary-blue/80 text-lg font-unbounded font-semibold leading-tighter">
				NOS ENFOCAMOS EN BRINDAR EL MEJOR SERVICIO QUE ALGUNA VEZ PUDISTE PROBAR
			</p>
			<p class="text-lg">Tenemos los mejores fotografos y muchas otras areas en las cuales te podemos cubrir graficamente.</p>
		</div>
	</div>
</div>